Source: openbve
Section: games
Priority: optional
Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper (>= 5), mono-xbuild, lynx
Build-Depends-Indep: cli-common-dev (>= 0.7), mono-devel (>=2.0.1), libmono-i18n2.0-cil, libtaoframework-openal-cil-dev, libtaoframework-opengl-cil-dev, libtaoframework-sdl-cil-dev, libmono-winforms2.0-cil
Vcs-Browser: http://github.com/sladen/openbve/tree/debian
Vcs-Git: git://github.com/sladen/openbve.git
Standards-Version: 3.8.3
Homepage: http://openbve.trainsimcentral.co.uk/

Package: openbve
Architecture: all
Depends: ${cli:Depends}, libmono-i18n2.0-cil, openbve-data (>= 1.2.1.3+dfsg)
Recommends: bve-route, bve-train
Provides: bve-engine
Description: realistic 3D train/railway simulator (game engine)
 OpenBVE is a railway/train simulator designed to be backwards
 compatible with existing 'BVE Trainsim' routes and cab
 interiors.
 .
 Cross-platform using CLI and Mono.
 . 
 http://openbve.trainsimcentral.co.uk/

