Source: openbve
Section: games
Priority: optional
Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper, mono-xbuild, lynx
Build-Depends-Indep: cli-common-dev (>= 0.4.4), mono-devel (>=2.0.1), libmono-i18n2.0-cil, libtaoframework-openal1.1-cil, libtaoframework-opengl2.1-cil, libtaoframework-sdl1.2-cil, libtaoframework-openal1.1-cil, libmono-winforms2.0-cil
Vcs-Browser: http://github.com/sladen/openbve/tree/debian
Vcs-Git: git://github.com/sladen/openbve.git
Standards-Version: 3.8.0
Homepage: http://openbve.trainsimcentral.co.uk/

Package: openbve
Architecture: all
Depends: ${cli:Depends}, libmono-i18n2.0-cil, openbve-data (>= 1.1.1.0+dfsg)
Recommends: bve-route, bve-train, openbve-data (>= 1.2.0.3+dfsg)
Provides: bve-engine
Description: realistic 3D train/railway simulator (game engine)
 OpenBVE is a railway/train simulator designed to be backwards
 compatible with existing 'BVE Trainsim' routes and cab
 interiors.
 .
 Cross-platform using CLI and Mono.
 . 
 http://openbve.trainsimcentral.co.uk/

