Source: openbve
Section: games
Priority: optional
Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper
Build-Depends-Indep: cli-common-dev (>= 0.4.4), mono-devel (>=2.0.1), mono-xbuild,
 libmono-i18n2.0-cil
 libtaoframework-openal1.1-cil, libtaoframework-opengl2.1-cil, libtaoframework-sdl1.2-cil
Vcs-Browser: http://github.com/sladen/openbve/tree/debian
Vcs-Git: git://github.com/sladen/openbve.git
Standards-Version: 3.8.0

Package: openbve
Architecture: all
Depends: ${cli:Depends}, openbve-data (>= 0.9.8.5)
Recommends: openbve-route, openbve-train
Description: realistic 3D train/railway simulator (game engine)
 OpenBVE is a railway/train simulator designed to be backwards
 compatible with existing 'BVE Trainsim' routes and cab
 interiors.
 .
 Cross-platform using CLI and Mono.
 . 
 http://openbve.uuuq.com/

