Data = $[CommonApplicationData]/games/openbve/Data
ManagedContent = $[Personal]/OpenBve/ManagedContent
Settings = $[ApplicationData]/OpenBve/Settings
InitialRoute = $[CommonApplicationData]/games/bve/Railway/Route/Birmingham_Cross-City_South
InitialTrain = $[CommonApplicationData]/games/bve/Train/
RestartProcess = /usr/games/openbve
#RestartArguments = /filesystem=/etc/openbve/filesystem.cfg
