#!/usr/bin/make -f
export DH_VERBOSE=15
BUILDDIRS = openBVE/OpenBve
TARGET = $(CURDIR)/debian/openbve
#DEBUG_CONFIGURATION=Debug
DEBUG_CONFIGURATION=Release

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	for builddir in $(BUILDDIRS); do \
	  (cd $$builddir && xbuild /p:Configuration=$(DEBUG_CONFIGURATION) ) || exit 1; \
	done
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf $(TARGET)
	# This was failing to make xbuild 1.9.1+dfsg-4ubuntu2 do anything useful
	for builddir in $(BUILDDIRS); do \
	  (cd $$builddir && echo "**NOT doing" xbuild /t:Clean); \
	done
	rm -rf openBVE/OpenBve/bin/
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	install -m 755 $(CURDIR)/openBVE/OpenBve/bin/$(DEBUG_CONFIGURATION)/OpenBve.exe $(TARGET)/usr/lib/openbve/
	install -m 644 $(CURDIR)/openBVE/OpenBve/bin/$(DEBUG_CONFIGURATION)/OpenBve.exe.mdb $(TARGET)/usr/lib/openbve/
	install -m 755 -T $(CURDIR)/debian/openbve.wrapper $(TARGET)/usr/games/openbve
	lynx -dump -nolist $(CURDIR)/debian/changelog.html > $(TARGET)/usr/share/doc/openbve/changelog

binary-arch:
	# Do nothing

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installmenu
	dh_install
	dh_installcligac
	dh_installchangelogs
	dh_installdocs
	dh_fixperms
	dh_clifixperms
	dh_installman
	dh_installdeb
	dh_shlibdeps
	#dh_makeclilibs -i -V
	#dh_installcligac -i
	dh_clistrip
	dh_clideps -d
	dh_compress
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# For running manually
fetch-html:
	wget http://openbve.trainsimcentral.co.uk/changelog.html && mv changelog.html.1 changelog.html
	wget http://openbve.trainsimcentral.co.uk/releasenotes.html && mv releasenotes.html.1 releasenotes.html

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
